<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>



<!-- <link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!-- <script src="//code.jquery.com/jquery-2.1.3.min.js"></script> -->
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<style type="text/css">
#success_message {
	display: none;
}
</style>

</head>
<body>

	<div class="container">
		<div class="head">
			<div class="d-flex justify-content-between">
				<div class="logo">
					<img src="/images/ccpdlogo.png" alt="logo">
				</div>

			</div>
		</div>
		<!-- <form class="well form-horizontal" action=" " method="post"
			id="contact_form"> -->

		<form th:action="@{/nic/ccpd/back/office/user/registraion}"
			th:object="${backOfficeUser}" method="post" id="backOfficeUser"
			class="well form-horizontal">


			<!-- Form Name -->
			<legend>

				<h2 align="center">
					<b>Office Registration Form</b>
				</h2>

			</legend>
			<br>

			<!-- Text input-->

			<div class="form-group">
				<label class="col-md-4 control-label">Name</label>
				<div class="col-md-4 inputGroupContainer">
					<div class="input-group">
						<span class="input-group-addon"><i
							class="glyphicon glyphicon-user"></i></span> <input name="userName"
							th:field="*{userName}" placeholder="Name" class="form-control"
							type="text">
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label">Age</label>
				<div class="col-md-4 inputGroupContainer">
					<div class="input-group">
					
						<span class="input-group-addon ">	<i class="glyphicon glyphicon-resize-vertical"></i></span> <input name="age"
							th:field="*{age}" placeholder="Age" class="form-control"
							type="number">
					</div>
				</div>


			</div>






			<div class="form-group">
				<label class="col-md-4 control-label">Gender</label>
				<div class="col-md-4 inputGroupContainer">


					<div class="input-group">
						
						<!-- <div class="row"> -->


						<div class="col-sm-4">
							<label class="radio-inline"> <input type="radio"
								id="femaleRadio" value="f" th:field="*{gender}">Female
							</label>
						</div>
						<div class="col-sm-4">
							<label class="radio-inline"> <input type="radio"
								id="maleRadio" value="m" th:field="*{gender}">Male
							</label>
						</div>
						<div class="col-sm-4">
							<label class="radio-inline"> <input type="radio"
								id="tRadio" value="t" th:field="*{gender}">Transgender
							</label>
						</div>
						</fieldset>
						<!-- </div> -->
					</div>

				</div>
			</div>


			<!-- Text input-->


			<div class="form-group">
				<label class="col-md-4 control-label">Department / Office</label>
				<div class="col-md-4 selectContainer">
					<div class="input-group">
						<span class="input-group-addon"><i
							class="glyphicon glyphicon-list"></i></span> <select 
							th:field="*{designationId}" class="form-control selectpicker">
							<option value="">SELECT</option>
							<option th:each="ob:${designation}" th:value="${ob.designationId}"
								th:text="${ob.designationName}" /></option>
						</select>
					</div>
				</div>
			</div>

			<!-- Text input-->




			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label">E-Mail</label>
				<div class="col-md-4 inputGroupContainer">
					<div class="input-group">
						<span class="input-group-addon"><i
							class="glyphicon glyphicon-envelope"></i></span> <input name="email"
							th:field="*{email}" placeholder="E-Mail Address"
							class="form-control" type="text">
					</div>
					<div>
						<span th:text="${msg}"
							style="color: red; font-size: 141%; text-align: center;"></span>

					</div>

				</div>

			</div>





			<!-- Text input-->

			<div class="form-group">
				<label class="col-md-4 control-label">Contact No.</label>
				<div class="col-md-4 inputGroupContainer">
					<div class="input-group">
						<span class="input-group-addon"><i
							class="glyphicon glyphicon-phone"></i></span> <input
							name="contact_no" placeholder="(9999999999)" class="form-control"
							type="text" th:field="*{mobile}">
					</div>
				</div>
			</div>



			<!-- Text input-->

			<div class="form-group">
				<label class="col-md-4 control-label">Password</label>
				<div class="col-md-4 inputGroupContainer">
					<div class="input-group">
						<span class="input-group-addon"><i
							class="glyphicon glyphicon-lock"></i></span> <input 
							th:field="*{userPassword}" name="userPassword"
							placeholder="Enter Your Password" class="form-control"  type="password"
							id="password"  >
							
					</div>
					
				</div>
			</div>

			<!-- Text input-->

			<div class="form-group">
				<label class="col-md-4 control-label">Confirm Password</label>
				<div class="col-md-4 inputGroupContainer">
					<div class="input-group">
						<span class="input-group-addon"><i
							class="glyphicon glyphicon-lock"></i></span> <input
							name="confirm_password" placeholder="Confirm Password"
							class="form-control" type="password"
							oninput="checkPasswordMatch(this);">
					</div>
				</div>
			</div>
			<!-- Select Basic -->

			<!-- Success message -->
			<div class="alert alert-success" role="alert" id="success_message">
				Success <i class="glyphicon glyphicon-thumbs-up"></i> Success!.
			</div>

			<!-- Button -->
			<div class="form-group">
				<label class="col-md-4 control-label"></label>
				<div class="col-md-4">
					<br>
					&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

					<button type="submit" class="btn btn-warning">

						&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSUBMIT <span
							class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
					</button>
				</div>
			</div>


		</form>
	</div>
	<!-- </div> -->
	<!-- /.container -->
</body>

<script type="text/javascript">
	function checkPasswordMatch(fieldConfirmPassword) {
		if (fieldConfirmPassword.value != $("#password").val()) {
			fieldConfirmPassword.setCustomValidity("Passwords do not match!");
		} else {
			fieldConfirmPassword.setCustomValidity("");
		}
	}
	
	
</script>
</html>