<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<meta charset="ISO-8859-1"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
	name="viewport">
<meta content="ie=edge" http-equiv="X-UA-Compatible">


<script
	src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
<link rel="stylesheet" href="css/pdf.css" />
<!-- <script type="text/javascript">
window.onload = function () {
	  document.getElementById("download")
	      .addEventListener("click", () => {
	          const grievance = this.document.getElementById("grievance");
	          console.log(grievance);
	          console.log(window);
	          var opt = {
	              margin: .9,
	              filename: 'grievance.pdf',
	              image: { type: 'jpeg', quality: 0.98 },
	              html2canvas: {scale: 3, logging: true, dpi: 192, letterRendering: true },
	              jsPDF: { unit: 'pt', format: 'a4', orientation: 'portrait' }
	          };
	          html2pdf().from(grievance).set(opt).save();
	      })
	}


</script> -->
<title>Insert title here</title>
<style type="text/css">
.bor1pxSolid {
	background-color: #F9F9F9;
	border: 1px solid #0379c0;
	/* padding-top: 10px; */
	margin-bottom: 10px;
}

.clear {
	clear: both;
}

.main_cont {
	border: 1px #000 solid;
}

.borB1 {
	border-bottom: 1px #000 solid;
}

.p-2 {
	padding: .5rem !important;
}

.main_cont h5 {
	font-size: 20px;
	color: #fff;
	font-weight: 500;
	background: #0379c0;
	padding: 6px 0px;
	margin-left: -7px;
	width: calc(100% + 16px);
}

.font-weight-bold {
	font-weight: 700 !important;
}

ul#footer-address {
	list-style: none;
	padding: 0;
	margin-left: 51%;
}
</style>
</head>
<body>

	<div class="container-fluid" style="width: 90%">
		<div class="col-md-12 text-right mb-3">
			<button class="btn btn-primary" id="download">Pdf Download</button>
		</div>

		<!-- change after this line -->
		<div class="outer bor1pxSolid clear">
			<div class="main_cont" id="grievance">
				<!-- 	<table class="table">
					<tr>
						<td>Date of Complainant.:</td>
						<td th:text="${complaintPdfBean.finalSubmit}"></td>
					</tr>
	                   <tr>
						<td>Reference No:</td>
						<td th:text="${complaintPdfBean.refno}"></td>
					</tr>

				</table> -->
				<div class="col-sm-6">
					<div class="form-group row m-0">

						<label class="col-sm-4 col-form-label">Date of Submit.:</label>
						<div>
							<div th:text="${complaintPdfBean.finalSubmit}"></div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group row m-0">
						<label class="col-sm-4 col-form-label">Reference No:</label>
						<div th:text="${complaintPdfBean.refno}"></div>
					</div>
				</div>
				<div class=" p-2 borB1">
					<div class="row">
						<div class="col-sm-12">
							<h5 class="font-weight-bold">Complainant Details:</h5>

						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<b>Name:</b>
						</div>
						<div class="col-sm-6" th:text="${complaintPdfBean.cName}"></div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<b>Father/Husband:</b>
						</div>
						<div class="col-sm-6"
							th:text="${complaintPdfBean.cFatherHusbandName}"></div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<b>Address:</b>
						</div>
						<div class="col-sm-6"
							th:text="${complaintPdfBean.cAddress1+','+complaintPdfBean.cAddress2}"></div>
						<ul id="footer-address">
							<li
								th:text="${complaintPdfBean.cPostOffice+','+complaintPdfBean.cPin}" />
							<li
								th:text="${complaintPdfBean.cDistrict+','+complaintPdfBean.cState}" />
						</ul>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<b>Gender:</b>
						</div>
						<div class="col-sm-6" th:text="${complaintPdfBean.cGender}">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<b>Age:</b>
						</div>
						<div class="col-sm-6" th:text="${complaintPdfBean.age}"></div>
					</div>
				</div>




				<div class=" p-2">
					<div class="row">
						<div class="col-sm-12">
							<h5 class="font-weight-bold">Details of Complaint</h5>

						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group row m-0">

							<label class="col-sm-4 col-form-label">Date of Incidence:</label>
							<div>
								<div th:text="${complaintPdfBean.incidenceDate}"></div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group row m-0">
							<label class="col-sm-4 col-form-label">Place of
								Incidence:</label>
							<div th:text="${complaintPdfBean.incidencePlace}"></div>
						</div>
					</div>

				</div>







				<div class=" p-2">
					<div class="row">
						<div class="col-sm-12">
							<h5 class="font-weight-bold">Details of Complaint</h5>

						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group row m-0">

							<label class="col-sm-4 col-form-label">Date Of
								Complaint::</label>
							<div>
								<div th:text="${complaintPdfBean.complaintDate}"></div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group row m-0">
							<label class="col-sm-4 col-form-label">Date Of Receipt of
								Complaint:</label>
							<div th:text="${complaintPdfBean.receiptDate}"></div>
						</div>
					</div>

				</div>







				<div class=" p-2 borB1">
					<div class="row">
						<div class="col-sm-12">
							<h5 class="font-weight-bold">Grievances Description</h5>
						</div>
					</div>
					<div class="text-xl font-bold"
						th:text="${complaintPdfBean.grievanceDescription}"></div>
				</div>
				<div class=" p-2 borB1">
					<div class="row">
						<div class="col-sm-12">
							<h5 class="font-weight-bold">Relief Sought</h5>
						</div>
					</div>

					<div class="text-xl font-bold"
						th:text="${complaintPdfBean.reliefInSought}"></div>
				</div>
				<div class="page">
					<div class="subpage">
						<div class=" p-2 borB1">
							<div class="row">
								<div class="col-sm-12">
									<h5 class="font-weight-bold">Respondent</h5>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<b>Name of Organization/Department:</b>
								</div>
								<div class="col-sm-6"
									th:text="${complaintPdfBean.departmentCode}"></div>
								<ul id="footer-address">
									<li th:text="${complaintPdfBean.subOrgCode}" />

								</ul>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<b>Name of Head of the Organization/Department:</b>
								</div>
								<div class="col-sm-6" th:text="${complaintPdfBean.headOfOrg}"></div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<b>Address:</b>
								</div>
								<div class="col-sm-6"
									th:text="${complaintPdfBean.cAddress1+','+complaintPdfBean.addressOfOrg2}"></div>
								<ul id="footer-address">
									<li
										th:text="${complaintPdfBean.postofficeOfOrg+','+complaintPdfBean.pinCodeOfOrg}" />
									<li
										th:text="${complaintPdfBean.districtOfOrg+','+complaintPdfBean.stateOfOrg}" />
								</ul>
							</div>

							<div class="row">
								<div class="col-sm-6">
									<b>Email:</b>
								</div>
								<div class="col-sm-6" th:text="${complaintPdfBean.emailOfOrg}"></div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<b>Mobile No:</b>
								</div>
								<div class="col-sm-6" th:text="${complaintPdfBean.mobileOfOrg}"></div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<b>Phone No:</b>
								</div>
								<div class="col-sm-6" th:text="${complaintPdfBean.phoneOfOrg}"></div>
							</div>

						</div>
						<div class=" p-2 borB1">
							<div class="row">
								<div class="col-sm-12">
									<h5 class="font-weight-bold">Disability Information</h5>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<b>Disability Type:</b>
								</div>
								<div class="col-sm-6"
									th:text="${complaintPdfBean.disabilityType}"></div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<b>Disability Percent:</b>
								</div>
								<div class="col-sm-6"
									th:text="${complaintPdfBean.disabilityPer}"></div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<b>Certificate Issuing Authority:</b>
								</div>
								<div class="col-sm-6"
									th:text="${complaintPdfBean.certificateIssuingName}"></div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<b>Certificate Issuing Date:</b>
								</div>
								<div class="col-sm-6"
									th:text="${complaintPdfBean.certificateIssueDate}"></div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<b>Certificate Issuing District:</b>
								</div>
								<div class="col-sm-6"
									th:text="${complaintPdfBean.certificateIssueDistrict}"></div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<b>Certificate Issuing State:</b>
								</div>
								<div class="col-sm-6"
									th:text="${complaintPdfBean.certificateIssueState}"></div>
							</div>
						</div>




					</div>
				</div>

				<div class=" p-2">
					<div class="row">
						<div class="col-sm-12">
							<h5 class="font-weight-bold">Enclosure</h5>

						</div>
					</div>



					<div class="col-sm-6">
						<table id="table">
							<tr th:each="lst : ${list}">
								<td th:text="${lst.documentDesc}"></td>
						</table>
					</div>
				</div>

				<div class=" p-2 borB1">
					<div class="row">
						<div class="col-sm-12">
							<h5 class="font-weight-bold">Complainant Representative</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<b>Complaint Representative Name:</b>
						</div>
						<div class="col-sm-6" th:text="${complaintPdfBean.rName}"></div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<b>Father/Husband Name:</b>
						</div>
						<div class="col-sm-6"
							th:text="${complaintPdfBean.rFatherHusbandName}"></div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<b>Address:</b>
						</div>
						<div class="col-sm-6"
							th:text="${complaintPdfBean.rAddress1+','+complaintPdfBean.rAddress2}"></div>
						<ul id="footer-address">
							<li
								th:text="${complaintPdfBean.rPostOffice+','+complaintPdfBean.rPin}" />
							<li
								th:text="${complaintPdfBean.rDistrict+','+complaintPdfBean.rState}" />
						</ul>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<b>Email:</b>
						</div>
						<div class="col-sm-6" th:text="${complaintPdfBean.rEmail}"></div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<b>Mobile No:</b>
						</div>
						<div class="col-sm-6" th:text="${complaintPdfBean.rMobile}"></div>
					</div>

				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
</body>
</html>