<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Latest compiled and minified CSS -->
<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/> -->

<link href="/css/commonminbootstarp.css" rel="stylesheet" />

<!-- Latest compiled and minified JavaScript -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- 
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script> -->
<!-- <link rel="stylesheet" href="css/pdf.css" /> -->
<script type="text/javascript">

/* window.onload = function () {
	  document.getElementById("download")
	      .addEventListener("click", () => {
	          const grievance = this.document.getElementById("grievance");
	          console.log(grievance);
	          console.log(window);
	          var opt = {
	              margin: .9,
	              filename: 'grievance.pdf',
	              image: { type: 'jpeg', quality: 0.98 },
	              html2canvas: {scale: 3, logging: true, dpi: 192, letterRendering: true },
	              jsPDF: { unit: 'pt', format: 'a4', orientation: 'portrait' }
	          };
	          html2pdf().from(grievance).set(opt).save();
	      })
	} */


</script>
<title>Insert title here</title>
<style type="text/css">
.bor1pxSolid {
	background-color: #F9F9F9;
	border: 1px solid #0379c0;
	/* padding-top: 10px; */
	margin-bottom: 10px;
}

.clear {
	clear: both;
}

.main_cont {
	border: 1px #000 solid;
}

.borB1 {
	border-bottom: 1px #000 solid;
}

.p-2 {
	padding: .5rem !important;
}

.main_cont h5 {
	font-size: 20px;
	color: #fff;
	font-weight: 500;
	background: #0379c0;
	padding: 6px 0px;
	margin-left: -7px;
	width: calc(100% + 16px);
}

.font-weight-bold {
	font-weight: 700 !important;
}

ul#footer-address {
	list-style: none;
	padding: 0;
	margin-left: 51%;
}

.main_cont .table tr td {
	border: none;
}

.main_cont .table > tbody > tr > td {
	padding: 4px 8px 8px 8px;
}

.main_cont .table > tbody > tr > td.table-head {
	background: #0379c0;
    color: #fff;
    font-size: 16px;
    padding-top: 8px;
}

.main_cont .table > tbody > tr > td > p {
	margin: 0px 0px 5px 0px;
}

</style>
</head>
<body>
<a th:href="@{/download-pdf/{refno}(refno=${complaintPdfBean.refno})}"><span>Download PDF Document</span></a>
	<div class="container" >
	
		<div class="col-md-12 text-right mb-3" th:each="lst : ${list}">
			<!-- <button class="btn btn-primary" id="download" th:href="@{|/download-pdf|}">Pdf Download</button> -->
			
			
			 <!-- <a th:href="@{|/download-pdf|{refno}(refno=${lst.refno})}"><span>Download PDF Document</span></a> -->
		</div>

		<!-- change after this line -->
		<div class="outer bor1pxSolid clear">
			<div class="main_cont" id="grievance">
				 	<table class="table">
					<tr>
						<td >Date of Complainant:</td>
						<td th:text="${complaintPdfBean.finalSubmit}" ></td>
						<td>Reference No:</td>
						<td th:text="${complaintPdfBean.refno}"></td>
					</tr>
					<tr>
					<td colspan="4"><b>Complainant Details:</b></td>
					</tr>
					<tr>
					<td>Name:</td>
					<td colspan="3" th:text="${complaintPdfBean.cName}"></td>
					</tr>
					<tr>
						<td>Father/Husband:</td>
						<td colspan="3" th:text="${complaintPdfBean.cFatherHusbandName}"></td>
					</tr>
					<tr>
					
					<td>Address:</td>
					<td colspan="3" th:text="${complaintPdfBean.cAddress1+','+complaintPdfBean.cAddress2}"></td>
					</tr>
				
				<tr>
					<td colspan="4" class="table-head font-weight-bold">Complainant Details:</td>

						</tr>
					
					<tr>
						<td>
							Name:
						</td>
						<td colspan="3" th:text="${complaintPdfBean.cName}"></td>
					</tr>
					<tr>
						<td>
							Father/Husband:
						</td>
						<td colspan="3"
							th:text="${complaintPdfBean.cFatherHusbandName}"></td>
					</tr>
					<tr>
						<td>
							Address:
						</td>
						<td colspan="3">
							<p th:text="${complaintPdfBean.cAddress1+','+complaintPdfBean.cAddress2}"></p>
							<p th:text="${complaintPdfBean.cPostOffice+','+complaintPdfBean.cPin}" ></p>
							<p th:text="${complaintPdfBean.cDistrict+','+complaintPdfBean.cState}" ></p>
						</td>
					</tr>
					
					<tr>
						<td>
							Gender:
						</td>
						<td colspan="3" th:text="${complaintPdfBean.cGender}">
						</td>
					</tr>
					<tr>
						<td>
							Age:
						</td>
						<td colspan="3" th:text="${complaintPdfBean.age}"></td>
					</tr>
				</table>




						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</body>
</html>