<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<!-- <title>Spring Boot File Upload / Download Rest API Example</title> -->
<link rel="stylesheet" href="/css/fileuploaddes.css" />
</head>

<body>
	<noscript></noscript>
	<div class="upload-container">
		<div class="head">
			<div class="container-fluid clearfix">
				<div class="d-flex justify-content-between">
					<div class="logo">
						<a th:href="@{/login}"><img src="/images/ccpdlogo.png"
							alt="logo"></a>
					</div>

				</div>
			</div>


		</div>

		<h1 align="center">Document Upload</h1>

		<div class="upload-content">
			<div>
				<h2>
					<span th:text="'Reference No : ' + ${refno}"></span>
					<input type="hidden" th:value="${refno}" id="refId">
				</h2>
			</div>
			<fieldset>
				<div class="single-upload" id="uploadFile_div">
					<!-- <div class="row"> -->
					<h3>Disability Certificate</h3>
					<form id="singleUploadForm" name="singleUploadForm" style="margin: -4% 0 0 24%;">
				 		<input id="singleFileUploadInput" type="file" name="file" value="DC" onchange="ValidateSingleInput(this);" class="file-input" required />
				 		<!-- <input type="hidden"  name="fileNames" id="fileNames"> -->
						<button type="button" class="primary submit-btn" onclick="singlefileuploadmethod();">Upload</button> 
						   
						   <div th:if="${docId!=null}" id="viewfiles" style="margin: -3% 0 0 38%;">
							   <a th:href="@{'/display-file/'+${docId}}" title="Disability Certificate" target="_blank">View</a>
							</div>
							 
							  <div id="viewfile" class="viewfile" style="margin: -3% 0 0 38%;"></div>
						    
						  <div id="singleFileUploadSuccess" style="text-decoration-color: green;"></div> 
					</form>
					<!-- </div> -->
				</div>
			</fieldset>
			  
		<fieldset>
  		<table class="table table-striped" style="margin: -4% 0 0 23%;">
   		 <h3>Supporting Documents</h3>
    		<tbody>
    
                   <div th:if="${#lists.isEmpty(dbFilesList)}">
                      <div th:each="DBFileForm, status :  *{1}" >
                      <tr  class="msjeIpopFundingDetails">
						<td><input type="text" style="padding: 6%; margin:-1%; width: 100%;" name="documentDesc"  class="docdesc"  th:id="'documentDesc'+${status.index+1}" placeholder="please fill desciption of file"><td> 
				
				<td> <input type="file"   onchange="ValidateSingleInput(this);"   class="doctype" style="max-width:100%;" th:id="'file'+${status.index+1}"   name="multipleFileUploadInput1"/> <td>
				<td> <button type="button" class="primary submit-btn butId" th:id=${status.index+1} onclick="otherfileuploadmethod(this.id);" style="margin: 0 0 0 2%;">Upload</button>  
				<div th:if="${status.index>0}"> &nbsp;<a class='removeLink' href='javascript: void(0)'onclick='removeMoreEle(this, &quot;msjeIpopFundingDetails&quot;)' title='Click here to remove'>X</a></div>
							</td>
				 <td>
				 
				 <div th:id="'viewOtherfile'+${status.index+1}" class="viewOtherfile"></div>
				 </td>
				  </tr>
					</div>
					</div>
						 
						 
				 <div th:unless="${#lists.isEmpty(dbFilesList)}"  >
					<div th:each="DBFileForm, status :  *{dbFilesList}" id="viewfilesmultiple" >
						<tr  class="msjeIpopFundingDetails">
				 <td><input type="text" style="padding: 6%; margin:-1%; width: 100%;" name="documentDesc" class="docdesc" th:value="${DBFileForm.documentDesc}"  th:id="'documentDesc'+${status.index+1}" placeholder="please fill desciption of file"> </td> 
				
				 <td><input type="file" class="doctype"  onchange="ValidateSingleInput(this); "    style="max-width:100%;" th:id="'file'+${status.index+1}" name="multipleFileUploadInput"/> </td>
				 <td><button type="button" class="primary submit-btn butId" style="margin: 0 0 0 2%;" th:id=${status.index+1} onclick="otherfileuploadmethod(this.id);">Upload</button>  
				
						<div th:if="${status.index>0}">&nbsp;<a class='removeLink' href='javascript: void(0)'onclick='removeMoreEle(this, &quot;msjeIpopFundingDetails&quot;)' title='Click here to remove'>X</a>
							</div>
						</td>  
				  <td>
					 <a th:href="@{'/display-file/'+${DBFileForm.id}}" style="max-width:30%;padding-left:20px;" th:id="'otherFiles'+${status.index+1}" class="otherFiles"	title="Supporting Documents" target="_blank">View</a> 
					 <div th:id="'viewOtherfile'+${status.index+1}" class="viewOtherfile"></div>
					 </td>
					</tr>
					</div>  	
						</div>
						</div>
                       
          <tr><td colspan="5" align="right" class="tblcontent">
			<a	href="javascript: void(0)" th:id="addMoreMsjeIpopFundingDetails">Add More</a>
				</td> 
		   </tr>
            </tbody>
             <div id="multipleFileUploadSuccess"></div>
</table> 
  
 </fieldset>
 </div>
<form action="#" th:action="@{/finalSubmit/{refno}(refno=${refno})}"
			method="get">
			<div class="col-md-12 text-center">
				<input type="submit" value="Final Submit" class="btn btn-primary" />
			</div>
		</form>
 </div>
<div id="text"></div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/fileuploaddes.js}"></script>
<script type="text/javascript" th:src="@{/js/addmore.js}"></script>
<!-- <script src="/js/fileuploaddes.js"></script> -->
<!-- <script src="/js/addmore.js"></script> -->

<script type="text/javascript">
		$(document).ready(function () {
			
			$("a#addMoreMsjeIpopFundingDetails").click(function() {
				$(this).addMore('msjeIpopFundingDetails');
				
			});
			
			 	
					 
		});
		
		function singlefileuploadmethod(){
			debugger;
			 var refvalue =$("#refId").val();
			var files =$("#singleFileUploadInput").get(0).files;
			if (files.length === 0) {
			singleFileUploadError.innerHTML = "Please select at least one file";
			singleFileUploadError.style.display = "block";
			return;
			}
				uploadSingleFile($('input[type=file]')[0].files[0],'Disability Certificate',refvalue,function(response) {
					alert(response);
					$('#singleFileUploadInput').val('');
					
					singleFileUploadSuccess.innerHTML = '<p id="myElem" style="color:green;"><strong>File Uploaded Successfully.</strong></p>';
					var viewfeed='<a href="/display-file/'+response+'"  title="Disability Certificate" target="_blank">View</a>'
					alert(viewfeed);
					$('#viewfile').html(viewfeed);
					$('#viewfiles').hide(); 
					 $("#myElem").show();
		               setTimeout(function() { $("#myElem").hide(); }, 4000);
				});	
		        }
		
			function otherfileuploadmethod(id)
			{
				 
				var refvalue =$("#refId").val();
				var files = $('#file'+id)[0].files[0];
				 
				 
				var str = $("#documentDesc"+id).val();
				uploadMultipleFiles(files,str,refvalue,id,function(response) {
					alert(response);
					$('#file'+id).val('');	 
				multipleFileUploadSuccess.innerHTML = '<p id="myElem1" style="color:green;"><strong>File Uploaded Successfully.</strong></p>';
				var viewfeeds='<a href="/display-file/'+response+'" style="max-width:30%;padding-left:20px;" title="Supporting Documents" target="_blank">View</a>'
				alert(viewfeeds);
				$("#viewOtherfile"+id).html(viewfeeds);
				$('#otherFiles'+id).hide();
				  $("#myElem1").show();
	               setTimeout(function() { $("#myElem1").hide(); }, 4000);
				});
				 
			}
			// for Add more and Singlr Documents functionality
			 
			// singlefileuploadmethod();  
		//});
			
	</script>

</html>