<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/commonminbootstarp.css}" rel="stylesheet" />
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style type="text/css">
.formfield * {
	vertical-align: text-top;
}
</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6 form-group required">
				<div class="form-group">
					<label class="col-12 col-md-12">State</label> <select id="stateId"
						class="form-control stateId">
						<option th:each="ob:${stateList}" th:value="${ob.statecodeid}"
							th:text="${ob.stateName}" /></option>
					</select>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="form-group">
					<div class="col-12 col-md-12">District</div>
					<select id="comboboxDistrict" class="form-control">
						<option value='-1'>SELECT</option>
						<option th:each="ob:${district}" th:value="${ob.districtCode}"
							th:text="${ob.districtName}" /></option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">

			<div class="col-12 col-md-6 form-group">
				<p class="formfield">
					<label for="comment">Comment:</label>
					<textarea rows="4" id="comment" cols="50" name="comment" form="usrform">
Enter Comment here...</textarea>
				</p>
			</div>

		</div>
	</div>
</body>
</html>