<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login Users</title>
<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
	<div class="container">

		<div class="container-fluid">




			<div class="midpart">

				<div id="testmarquee">
					<marquee>
						<p>"COVID -19 - Mental Health Helpline -Toll Free Number
							0804611 0007"</p>
					</marquee>
				</div>
				<div class="container-fluid clearfix">
					<div class="d-flex justify-content-between">
						<div class="logo pull-left">
							<a th:href="@{/login}"><img src="/images/ccpdlogo.png"
								alt="logo"></a>
						</div>
						<div class="swachh pull-right">
							<img src="/images/swachha.png" alt="swachha">
						</div>
					</div>
				</div>
			</div>



			<div id="loginbox" style="margin-top: 50px;"
				class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<div class="panel panel-info">
					<div class="panel-heading">
						<div class="panel-title">Sign In</div>
						<div
							style="float: right; font-size: 100%; position: relative; top: -10px">
							<a th:href="@{/forgot_password}">Forgot password?</a>
						</div>
					</div>

					<div style="padding-top: 30px" class="panel-body">

						<div style="display: none" id="login-alert"
							class="alert alert-danger col-sm-12"></div>

						<form id="loginform" class="form-horizontal" role="form"
							th:action="@{/login}" method="post">

							<div th:if="${param.error}">
								<div class="alert alert-danger">Invalid Email or password.</div>
							</div>
							<div style="margin-bottom: 25px" class="input-group">
								<span class="input-group-addon"><i
									class="glyphicon glyphicon-user"></i></span> <input
									id="login-username" type="email" class="form-control"
									name="username" value="" placeholder="email">
							</div>

							<div style="margin-bottom: 25px" class="input-group">
								<span class="input-group-addon"><i
									class="glyphicon glyphicon-lock"></i></span> <input
									id="login-password" type="password" class="form-control"
									name="password" placeholder="password">
							</div>



							<div class="input-group">
								<div class="checkbox">
									<label> <input id="login-remember" type="checkbox"
										name="remember" value="1"> Remember me
									</label>
								</div>
							</div>


							<div style="margin-top: 10px" class="form-group">
								<!-- Button -->

								<div class="col-sm-12 controls">
									<input type="submit" id="btn-login" value="Login"
										class="btn btn-success" /> <a id="btn-fblogin"
										href="@{/office/login}"
										class="btn btn-primary">CCPD Login</a>

								</div>
							</div>


							<div class="form-group">
								<div class="col-md-12 control">
									<div
										style="border-top: 1px solid #888; padding-top: 15px; font-size: 100%">
										Don't have an account! <a th:href="@{/register}"> Sign Up
											Here </a>
									</div>
								</div>
							</div>
						</form>

					</div>

				</div>
			</div>
		</div>
	</div>

</body>
</html>