<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<center>
		<h1><span
			th:text="${message}">
			
			</span></h1>
	</center>
	
	<div class="alert alert-success">
		<strong>Success </strong>  !
		
		<div class="container text-center">
		<h1>Welcome to CCPD</h1>
		
		
		<h3><a th:href="@{/login}">Login</a></h3>
	</div>
		
	</div>
</body>
</html>