<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>User Dashboard</title>
<title>Welcome to CCPD</title>


<!-- Font Awesome -->

<link rel="stylesheet" type="text/css"
	href="fontawesome-free-5.8.1-web/css/all.css">
<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="css/mdb.min.css" rel="stylesheet">
<!-- Your custom styles (optional) -->
<link href="css/style.css" rel="stylesheet">





</head>


<body>


	<div class="head">
		<div class="container-fluid clearfix">
			<div class="d-flex justify-content-between">
				<div class="logo">
					<a th:href="@{/login}"><img src="/images/ccpdlogo.png"
						alt="logo"></a>
				</div>
				<div class="swachh">
					<img src="/images/swachha.png" alt="swachha">
				</div>
			</div>
		</div>
	</div>


	<!-- <div class=" py-3 text-white" style="background-color: teal">
		<h1>
			&nbsp;&nbsp;<i class="fas fa-chart-bar"></i> Dashboard
		</h1>
	</div> -->
	<!-- Start your project here-->
	<!-- navigation menu -->
	<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
		<!-- <a href="" class="navbar-brand text-warning">&nbsp;&nbsp; <i
			class="fab fa- "></i> CCPD
		</a>
	 -->
		<button class="navbar-toggler " data-toggle="collapse"
			data-target="#menu">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="menu">
			<ul class="navbar-nav">
				<li class="nav-item"><a th:href="@{/login}" class="nav-link">
						<i class="fa fa-home"></i> Home
				</a></li>
				<li class="nav-item"><a th:href="@{/grivances}"
					class="nav-link"> <i class="fas fa-chart-bar"></i>Lodge
						Grievance
				</a></li>
				<!-- <li class="nav-item"><a class="nav-link" href="/EditProfile"><i
						class="fa fa-edit"></i> Edit Profile</a></li> -->
				<!-- <li class="nav-item"><a class="nav-link" href="/ChangePassword"><i
						class="fa fa-lock"></i> Change Password</a></li> -->
			</ul>
			<ul class="navbar-nav ml-auto">


				<li><i class="fas fa-users"></i> User Type <span
					class="text-white" th:switch="${user.complainantType} "> <span
						th:case="'c'"> Complainant</span> <span th:case="'cr'">
							Repersentive</span> <span th:case="'o'"> Office</span>
						<p th:case="'c'">Complainant</p>         
						<p th:case="'cr'">Repersentive</p>         
						<p th:case="'o'">Office</p>
				</span></li> &nbsp;&nbsp;
				<li><i class="fas fa-user"></i> User <span class="text-white"
					th:text="${user.userName}"></span></li>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<li class="nav-item"><a class="nav-link text-warning"
					th:href="@{/logout-success}"><strong><i
							class="fa fa-power-off"></i></strong>Logout</a></li>



			</ul>
		</div>
	</nav>


	<!-- <div class="sidebar-sticky">
		<ul class="nav flex-column">

			<li class="nav-item"><a class="nav-link active"
				th:href="@{/register}"> <i class="fa fa-dashboard"></i>
					Dashboard <span class="sr-only">(current)</span>
			</a></li>
			<li class="nav-item"><a class="nav-link" th:href="@{/grivances}"><i
					class="fa fa-plus-square"></i> Lodge Public Grievance</a></li>

				<li class="nav-item"><a class="nav-link" href="/AuditTrail"><i
					class="fa fa-history"></i> Account Activity</a></li>

			<li class="nav-item"><a class="nav-link" href="/EditProfile"><i
					class="fa fa-edit"></i> Edit Profile</a></li>
			<li class="nav-item"><a class="nav-link" href="/ChangePassword"><i
					class="fa fa-lock"></i> Change Password</a></li>
			<li class="nav-item"><a class="nav-link text-warning"
				th:href="@{/logout-success}"><strong><i
						class="fa fa-power-off"></i> Sign out</strong></a></li>
		</ul>
	</div>



 -->











<!-- 
	<div class="card-body" id="myDIV" onblur="chekforblank()">
		<table id="TblGrievance" class="table table-striped table-bordered"
			style="width: 100%">
			<thead>
				<tr class="bg-secondary">
					<th>Sn.</th>
					<th>Registration Number</th>

					<th>Grievance description</th>
					<th>Phone NO</th>
					<th>Status</th>
					<th>&nbsp;</th>
				</tr>

				<tr th:each="lst : ${dto}" id="ll">
					<th th:text="${lst.refno}" onblur="chekforblank()" id="tt"></th>
					<th th:text="${lst.grievanceDescription}"></th>
					<th th:text="${lst.phoneOfOrg}"></th>
					<th th:text="${lst.complaintStatus}"></th>
			</thead>
			<tbody>


			</tbody>
		</table>
	</div>
 -->

	<h1 align="center">You have not filed any complaints yet</h1>






	<!-- <footer class="bg-light text-dark p-5 mt-2">
		<h6 class="text-center">
			NIC <i class="fab fa-gov"></i>
		</h6>
	</footer> -->
	<!-- footer ends here -->
	<!-- /Start your project here-->
	<!-- SCRIPTS -->
	<!-- JQuery -->
	<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="js/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="js/mdb.min.js"></script>
</body>

</html>
