<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="ie=edge" http-equiv="X-UA-Compatible">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<style type="text/css">
.border {
	border: 5px solid #0062cc !important;
}
</style>
</head>
<body>
	<div class="head">
		<div class="container-fluid clearfix">
			<div class="d-flex justify-content-between">
				<div class="logo">
					<img src="/images/ccpdlogo.png" alt="logo">
				</div>
				<div class="swachh">
					<img src="/images/swachha.png" alt="swachha">
				</div>
			</div>
		</div>
	</div>
	<div class="container p-3 my-3 border">

		<div class="form-group row m-0">
			<div class="col-sm-6">
				<label class="col-sm-6 col-form-label"><b>Name:</b></label>
			</div>
			<div class="col-sm-6">
				<div th:text="${user.userName}"></div>
			</div>
		</div>
		<div class="form-group row m-0">
			<div class="col-sm-6">
				<label class="col-sm-6 col-form-label"><b>Department:</b></label>
			</div>
			<div class="col-sm-6">
				<div th:text="${user.designationName}"></div>
			</div>
		</div>
		<div class="form-group row m-0">
			<div class="col-sm-6">
				<label class="col-sm-6 col-form-label"><b>Gender:</b></label>
			</div>
			<div class="col-sm-6">
				<span th:switch="${user.gender}"> <span th:case="'m'">
						Male</span> <span th:case="'f'">Female</span> <span th:case="'t'">
						Transgender</span>
				</span>
			</div>
		</div>
		<div class="form-group row m-0">
			<div class="col-sm-6">
				<label class="col-sm-6 col-form-label"><b>Age:</b></label>
			</div>
			<div class="col-sm-6">
				<div th:text="${user.age}"></div>
			</div>
		</div>

		<div class="form-group row m-0">
			<div class="col-sm-6">
				<label class="col-sm-6 col-form-label"><b>Email:</b></label>
			</div>
			<div class="col-sm-6">
				<div th:text="${user.email}"></div>
			</div>
		</div>
		<div class="form-group row m-0">
			<div class="col-sm-6">
				<label class="col-sm-6 col-form-label"><b>Contact No:</b></label>
			</div>
			<div class="col-sm-6">
				<div th:text="${user.mobile}"></div>
			</div>
		</div>
		<div class="form-group row m-0">
			<div class="col-sm-6">
				<label class="col-sm-6 col-form-label"><b>Registration
						DateTime:</b></label>
			</div>
			<div class="col-sm-6">
				<div th:text="${user.userDateTime}"></div>
			</div>
		</div>
		<center>
			<form action="#"
				th:action="@{/admin/isEnable/{userId}(userId=${user.userId})}"
				method="get">
				<input type="hidden" th:value="${user.userId}">
				<button type="submit" class="btn btn-primary active" name="action"
					value="Active">Active</button>
				<button type="submit" class="btn btn-primary" name="action"
					value="Deactive">Deactive</button>
			</form>
		</center>
	</div>
</body>
</html>