<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8">
<!--  <link rel="stylesheet" href="http://disabilityaffairs.gov.in/content/css/bootstrap.min.css">
<link href="http://disabilityaffairs.gov.in/content/css/bootstrap.css" rel="stylesheet" type="text/css">-->
<!--  <link href="http://disabilityaffairs.gov.in/content/css/style.css"
	rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />-->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" th:href="@{/css/main.css}" />
<link rel="stylesheet" th:href="@{/css/disabilityaffairs.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link href="../static/css/main.css" th:href="@{/css/main.css}"
	rel="stylesheet" />
<link href="../static/css/disabilityaffairs.css"
	th:href="@{/css/disabilityaffairs.css}" rel="stylesheet" />
<link href="../static/css/style.css" th:href="@{/css/style.css}"
	rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<style type="text/css">
div#testmarquee marquee {
	height: 19px;
	font-weight: bold;
	letter-spacing: 3px;
	margin: 0px;
	padding: 0px;
	color: #fff;
}

div#testmarquee {
	border-bottom: 1px solid #fff;
	background: #1f497d;
}

body {
	margin: 0;
	font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #ffffff;
}

legend {
	font-size: 1.0em !important;
	font-weight: bold !important;
	text-align: left;
	width: auto;
	padding: 0 10px;
	border-bottom: none;
	margin-bottom: 0px !important;
}

fieldset {
	border: 1px groove #ddd;
	padding: 0 1.4em 1.4em 1.4em !important;
	margin: 0 0 1.5em 0 !important;
	-webkit-box-shadow: 0px 0px 0px 0px #000;
	box-shadow: 0px 0px 0px 0px #000;
}

label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
}

.card-info:not(.card-outline) .card-header {
	background-color: #17a2b8;
	border-bottom: 0;
}

/* Add padding to containers */
.container {
	padding: 16px;
	background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

.main-content {
	flex-grow: 1;
	-moz-flex-grow: 1;
	-webkit-flex-grow: 1;
	padding-top: 10px;
	background-image: url(../Images/bg_loginmain.png);
	background-size: cover;
	background-color: #4e7eb0;
	background-color: -moz-linear-gradient(top, #4e7eb0 0%, #78a1cc 50%, #78a1cc 51%, #a1c3e6
		100%);
	background-color: -webkit-linear-gradient(top, #4e7eb0 0%, #78a1cc 50%, #78a1cc 51%,
		#a1c3e6 100%);
	background-color: linear-gradient(to bottom, #4e7eb0 0%, #78a1cc 50%, #78a1cc 51%, #a1c3e6
		100%);
}

.form-group.required .control-label:after {
	content: "*";
	color: red;
}

.upper-head {
	width: 100%;
	background: #1f497d;
	padding-top: 10px;
	color: #fff;
	position: relative;
}

.midpart {
	width: 100%;
	margin: 0;
	padding: 10px 0;
	float: left;
}

/* ============================ Captcha CSS ============================ */
@import
	url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700);

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100)
	;

fieldset {
	border: 1px solid #ccc;
	padding: 15px;
	/*max-width: 345px;*/
	background-color: #fff;
	border-radius: 5px;
}

section {
	padding: 0 15px;
}

.CaptchaWrap {
	position: relative;
}

.CaptchaTxtField {
	border-radius: 5px;
	border: 1px solid #ccc;
	display: block;
	box-sizing: border-box;
}

#UserCaptchaCode {
	padding: 15px 10px;
	outline: none;
	font-size: 18px;
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
	width: 343px;
}

#CaptchaImageCode {
	text-align: center;
	margin-top: 15px;
	padding: 0px 0;
	width: 300px;
	overflow: hidden;
}

.capcode {
	font-size: 46px;
	display: block;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
	letter-spacing: 1px;
	color: #ccc;
	font-family: 'Roboto Slab', serif;
	font-weight: 100;
	font-style: italic;
}

.ReloadBtn {
	background:
		url('https://cdn3.iconfinder.com/data/icons/basic-interface/100/update-64.png')
		left top no-repeat;
	background-size: 100%;
	width: 32px;
	height: 32px;
	border: 0px;
	position: absolute;
	bottom: 30px;
	left: 310px;
	outline: none;
	cursor: pointer;
	/**/
}

.btnSubmit {
	margin-top: 15px;
	border: 0px;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 18px;
	background-color: #1285c4;
	color: #fff;
	cursor: pointer;
}

.error {
	color: red;
	font-size: 12px;
	display: none;
}

.success {
	color: green;
	font-size: 18px;
	margin-bottom: 15px;
	display: none;
}
</style>
<style type="text/css">
.fancybox-margin {
	margin-right: 0px;
}
</style>
<script type="text/javascript">
	window.onload = function() {
		document.getElementById('ifYes').style.display = 'block';
	}

	function yesnoCheck() {
		if (document.getElementById('yesCheck').checked) {
			document.getElementById('ifYes').style.display = 'block';
		} else {
			document.getElementById('ifYes').style.display = 'none';
		}
	}
</script>
<script>
	$(document)
			.ready(
					function() {
						//alert("HI-------------");
						$('#stateId')
								.on(
										'change',
										function() {
											/* alert("stateid selected is "
													+ $('#stateId').val()); */
											var stateId = $('#stateId').val();
											$
													.ajax({
														url : 'districtOnState',
														type : 'GET',
														contentType : 'application/json',
														dataType : 'json', // request type html/json/xml //
														data : {
															stateId : stateId
														},
														success : function(data) {
															//alert("stateid selected in sucess function "+ $('#stateId').val());
															$(
																	'#comboboxDistrict')
																	.find(
																			'option')
																	.remove()
																	.end();
															$(
																	'#comboboxDistrict')
																	.append(
																			jQuery(
																					"<option />")
																					.attr(
																							"value",
																							'')
																					.text(
																							'-- Please select --'));
															if (data != null) {
																for (var i = 0; i < data.length; i++) {
																	$(
																			'#comboboxDistrict')
																			.append(
																					'<option value="' + data[i].districtCode + '">'
																							+ data[i].districtName
																							+ '</option>');
																	console
																			.log(('<option value="' + data[i].districtCode + '">'
																					+ data[i].districtName + '</option>'));
																}
															}
														},
														error : function(e) {
															console
																	.log(e.message);
														}
													});
										});
					});

	var cd;

	$(function() {
		CreateCaptcha();
	});

	// Create Captcha
	function CreateCaptcha() {
		//$('#InvalidCapthcaError').hide();
		var alpha = new Array('A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J',
				'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V',
				'W', 'X', 'Y', 'Z', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h',
				'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't',
				'u', 'v', 'w', 'x', 'y', 'z', '0', '1', '2', '3', '4', '5',
				'6', '7', '8', '9');

		var i;
		for (i = 0; i < 6; i++) {
			var a = alpha[Math.floor(Math.random() * alpha.length)];
			var b = alpha[Math.floor(Math.random() * alpha.length)];
			var c = alpha[Math.floor(Math.random() * alpha.length)];
			var d = alpha[Math.floor(Math.random() * alpha.length)];
			var e = alpha[Math.floor(Math.random() * alpha.length)];
			var f = alpha[Math.floor(Math.random() * alpha.length)];
		}
		cd = a + ' ' + b + ' ' + c + ' ' + d + ' ' + e + ' ' + f;
		$('#CaptchaImageCode')
				.empty()
				.append(
						'<canvas id="CapCode" class="capcode" width="300" height="80"></canvas>')

		var c = document.getElementById("CapCode"), ctx = c.getContext("2d"), x = c.width / 2, img = new Image();

		img.src = "https://pixelsharing.files.wordpress.com/2010/11/salvage-tileable-and-seamless-pattern.jpg";
		img.onload = function() {
			var pattern = ctx.createPattern(img, "repeat");
			ctx.fillStyle = pattern;
			ctx.fillRect(0, 0, c.width, c.height);
			ctx.font = "46px Roboto Slab";
			ctx.fillStyle = '#ccc';
			ctx.textAlign = 'center';
			ctx.setTransform(1, -0.12, 0, 1, 0, 15);
			ctx.fillText(cd, x, 55);
		};

	}

	// Validate Captcha
	function ValidateCaptcha() {
		var string1 = removeSpaces(cd);
		var string2 = removeSpaces($('#UserCaptchaCode').val());
		if (string1 == string2) {
			return true;
		} else {
			return false;
		}
	}

	// Remove Spaces
	function removeSpaces(string) {
		return string.split(' ').join('');
	}

	// Check Captcha
	function CheckCaptcha() {
		var result = ValidateCaptcha();
		if ($("#UserCaptchaCode").val() == ""
				|| $("#UserCaptchaCode").val() == null
				|| $("#UserCaptchaCode").val() == "undefined") {
			$('#WrongCaptchaError').text(
					'Please enter code given below in a picture.').show();
			$('#UserCaptchaCode').focus();
		} else {
			if (result == false) {
				$('#WrongCaptchaError').text(
						'Invalid Captcha! Please try again.').show();
				CreateCaptcha();
				$('#UserCaptchaCode').focus().select();
			} else {
				$('#UserCaptchaCode').val('').attr('place-holder',
						'Enter Captcha - Case Sensitive');
				CreateCaptcha();
				$('#WrongCaptchaError').fadeOut(100);
				$('#SuccessMessage').fadeIn(500).css('display', 'block').delay(
						5000).fadeOut(250);
			}
		}
	}
</script>
</head>
<body>
	<div class="container-fluid">
		<div id="testmarquee">
			<marquee>
				<p>"COVID -19 - Mental Health Helpline -Toll Free Number 080
					4611 0007"</p>
			</marquee>
		</div>
		<div class="upper-head">
			<div class="container-fluid">
				<div class="col-md-12 mobile-center text-right">
					<ul class="list-inline a">
						<li><a href="#content-section" class="skip">Skip to Main
								Content </a></li>
						<li><a href="" class="reader">Screen Reader Access</a></li>
						<li><a
							href="http://disabilityaffairs.gov.in/content/page/sitemap.php"
							class="sitemap"><i class="fa fa-sitemap"></i>Sitemap</a></li>
						<li><a href="#" class="decrease" id="down">A-</a></li>
						<li><a href="#" class="resetMe">A</a></li>
						<li><a href="#" class="increase" id="up">A+</a></li>
						<li><a href="#" class="white-font">A</a></li>
						<li><a href="#" class="black-font">A</a></li>
						<li><span class="box-color-1"></span></li>
						<li><span class="box-color-2"></span></li>
						<li><span class="box-color-3"></span></li>
						<li style="cursor: pointer;"><a
							href="http://disabilityaffairs.gov.in/contenthi/" target="_blank">हिन्दी</a></li>

					</ul>
				</div>
			</div>
		</div>
		<div class="midpart">
		<div class="container-fluid clearfix">
			<div class="d-flex justify-content-between">
				<div class="logo">
					<a th:href="@{/login}"><img src="/images/ccpdlogo.png"
						alt="logo"></a>
				</div>
				<div class="swachh">
					<img src="/images/swachha.png" alt="swachha">
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
			<div class="card card-info">
				<div class="card-header">
					<h4 class="card-title">Registration/Sign up Form</h4>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="d-none d-sm-block col-md-6 col-12">
							<span class="text-primary"><strong>Enter Details</strong></span>
						</div>
						<div class="col-md-6 col-12 text-md-right text-lg-right">
							<span class="text-primary"><strong>Fields marked
									with <b class="text-danger">*</b> are mandatory
							</strong></span>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<hr>
						</div>
					</div>
					<form th:action="@{/register}" th:object="${user}" method="post">
						<div class="row">
							<div class="col-12 col-md-8">
								<div class="form-group">

									<!-- Complaint = c  Complaintrepresentative =cr -->

									<label>User:</label> <input type="radio" value="c"
										th:field="*{complainantType}"
										onclick="javascript:yesnoCheck();" id="yesCheck" name="yesno" />Complainant<input
										type="radio" value="cr" th:field="*{complainantType}"
										onclick="javascript:yesnoCheck();" id="noCheck" name="yesno" />Complainant
									Representative
								</div>
							</div>
						</div>
						<div class="row">

							<div class="col-12 col-md-6 form-group required">
								<div class="form-group">
									<label class="control-label col-12 col-md-12" for="name">Name:</label>
									<div class="col-12 col-md-12">
										<input type="text" th:field="*{userName}" class="form-control"
											id="userName" placeholder="Please Enter Name here"
											name="name" required="required">
										<p class="alert alert-danger"
											th:if="${#fields.hasErrors('userName')}" th:errors="userName" />
									</div>
								</div>
							</div>
							<div class="col-12 col-md-6">
								<div class="form-group">
									<div class="col-12 col-md-12">
										<fieldset>
											<legend class="required">Gender</legend>
											<div class="row">
												<div class="col-md-4">
													<div
														class="custom-control custom-radio custom-control-inline">
														<input type="radio" id="male" name="male"
															class="custom-control-input" value="male"
															th:field="*{gender}"> <label
															class="custom-control-label" for="male">Male</label>
													</div>
												</div>
												<div class="col-md-4">
													<div
														class="custom-control custom-radio custom-control-inline">
														<input type="radio" id="female" name="female"
															class="custom-control-input" value="female"
															th:field="*{gender}"> <label
															class="custom-control-label" for="female">Female</label>
													</div>
												</div>
												<div class="col-md-4">
													<div
														class="custom-control custom-radio custom-control-inline">
														<input type="radio" id="transgender" name="transgender"
															class="custom-control-input" value="transgender"
															th:field="*{gender}"> <label
															class="custom-control-label" for="transgender">Transgender</label>
													</div>
												</div>
											</div>
										</fieldset>
									</div>
								</div>
							</div>
						</div>

						<div class="row form-group required">

							<div class="col-12 col-md-6">
								<div class="form-group required">
									<label class="control-label col-12 col-md-12" for="age">Age:</label>
									<div class="col-sm-10">
										<input type="number" th:field="*{age}" class="form-control"
											id="age" placeholder="Please Enter Age here" name="age">
									</div>
								</div>
							</div>
							<div class="col-12 col-md-6 form-group required">
								<div class="form-group">
									<label class="control-label col-12 col-md-12" for="name">Father/Husband/Guardian:</label>
									<div class="col-sm-10">
										<input type="text" th:field="*{fatherHusbandName}"
											class="form-control" id="fatherhusbandname"
											placeholder="Please Enter Name here" name="fatherhusbandname"
											required="required">
										<p class="alert alert-danger"
											th:if="${#fields.hasErrors('fatherHusbandName')}"
											th:errors="fatherHusbandName" />
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-12 col-md-6">
								<div class="form-group required">
									<label class="control-label col-12 col-md-12" for="address">Address:</label>
									<input type="text" th:field="*{addressOne}"
										class="form-control" id="addressOne"
										placeholder="Please Enter Address 1 here" name="addressone"
										required="required">
									<p class="alert alert-danger"
										th:if="${#fields.hasErrors('addressOne')}"
										th:errors="addressOne" />
								</div>
							</div>
							<div class="col-12 col-md-6 form-group required">
								<div class="form-group">
									<label class="control-label col-12 col-md-12" for="name">Address
										2:</label> <input type="text" th:field="*{addressTwo}"
										class="form-control" id="addressTwo"
										placeholder="Please Enter Address 2 here" name="addressTwo"
										required="required">
									<p class="alert alert-danger"
										th:if="${#fields.hasErrors('addressTwo')}"
										th:errors="addressTwo" />
								</div>
							</div>
							<div class="col-12 col-md-6 form-group required">
								<div class="form-group">
									<label class="col-12 col-md-12">State</label> <select
										th:field="*{statecodeid}" id="stateId"
										class="form-control stateId">
										<option th:each="ob:${stateList}" th:value="${ob.statecodeid}"
											th:text="${ob.stateName}" /></option>
									</select>
								</div>
							</div>
							<div class="col-12 col-md-6">
								<div class="form-group">
									<div class="col-12 col-md-12">District</div>
									<select id="comboboxDistrict" class="form-control"
										th:field="*{districtCode}">
										<option value='-1'>SELECT</option>
										<option th:each="ob:${district}" th:value="${ob.districtCode}"
											th:text="${ob.districtName}" /></option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">

							<div class="col-12 col-md-6">
								<div class="form-group">
									<label class="control-label col-12 col-md-12" for="name">Post
										Office:</label>
									<div class="col-sm-10">
										<input type="text" th:field="*{postoffice}"
											class="form-control" id="addresstwo"
											placeholder="Please Enter Post Office here" name="addresstwo">
									</div>
								</div>
							</div>
							<div class="col-12 col-md-6">
								<div class="form-group">
									<label class="control-label col-12 col-md-12" for="name">Pin
										Code:</label> <input type="text" th:field="*{pin}"
										class="form-control" id="pin"
										placeholder="Please Enter Pin Code here" name="pin">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-md-6">
								<div>&nbsp;</div>
								<div class="form-group required">
									<label class="control-label col-12 col-md-12" for="email">Email:</label>
									<input type="email" th:field="*{email}" class="form-control"
										id="email" placeholder="Please Enter Email" name="email"
										required="required">
									<p class="alert alert-danger"
										th:if="${#fields.hasErrors('email')}" th:errors="email" />
								</div>
							</div>
							<div class="col-12 col-md-6">
								<div class="form-group">
									<label class="control-label col-12 col-md-12" for="email">Mobile
										No:</label> <input type="text" th:field="*{userMobilePhone}"
										class="form-control" id="mobileno"
										placeholder="Please Enter Mobile No" name="mobileno"
										required="required">
									<p class="alert alert-danger"
										th:if="${#fields.hasErrors('userMobilePhone')}"
										th:errors="userMobilePhone" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-md-6">
								<div class="form-group required">
									<label class="control-label col-12 col-md-12" for="password">Password:</label>
									<div class="col-sm-10">
										<input type="password" required="required"
											th:field="*{password}" class="form-control" id="password"
											placeholder="Please Enter Password here" name="password">
									</div>
								</div>
							</div>
						</div>
						<div id="ifYes" style="display: block">
							<div class="row">
								<div class="col-12 col-md-6">
									<div class="form-group required">
										<label class="control-label col-12 col-md-12"
											for="disabilityPercentage">Disability Percentage:</label> <select
											id="states" class="form-control"
											th:field="*{disabilityPercentage}">
											<option value=' '>SELECT</option>
											<option th:each="ob:${perList}"
												th:value="${ob.percentageCode}"
												th:text="${ob.disabilityValue}" /></option>
										</select>
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div>&nbsp;</div>
									<div class="form-group required">
										<div class="col-12 col-md-12">Category of Disability:</div>
										<select id="states" class="form-control"
											th:field="*{disabilityType}">
											<option th:each="ob:${disability}"
												th:value="${ob.disabilityId}" th:text="${ob.disabilityType}" /></option>
										</select>
									</div>
								</div>
								<section>
									<fieldset>
										<span id="SuccessMessage" class="success">You have
											successfully entered the captcha.</span> <input type="text"
											id="UserCaptchaCode" class="CaptchaTxtField"
											placeholder='Enter Captcha'> <span
											id="WrongCaptchaError" class="error"></span>
										<div class='CaptchaWrap'>
											<div id="CaptchaImageCode" class="CaptchaTxtField">
												<canvas id="CapCode" class="capcode" width="300" height="80"></canvas>
											</div>
											<input type="button" class="ReloadBtn"
												onclick='CreateCaptcha();'>
										</div>
										<!-- <input type="button" class="btnSubmit"
											onclick="CheckCaptcha();" value="Submit"> -->
									</fieldset>
								</section>
							</div>
						</div>
						<div class="col-md-12 text-center">
							<input type="submit" value="Submit" class="btn btn-primary" /> <input
								type="reset" value="Cancel" class="btn btn-primary" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>