<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Reset Password</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
	function checkPasswordMatch(fieldConfirmPassword) {
		if (fieldConfirmPassword.value != $("#password").val()) {
			fieldConfirmPassword.setCustomValidity("Passwords do not match!");
		} else {
			fieldConfirmPassword.setCustomValidity("");
		}
	}
</script>
</head>
<body>
	<div class="head">
		<div class="container-fluid clearfix">
			<div class="d-flex justify-content-between">
				<div class="logo">
					<a th:href="@{/login}"><img src="/images/ccpdlogo.png"
						alt="logo"></a>
				</div>
				<div class="swachh">
					<img src="/images/swachha.png" alt="swachha">
				</div>
			</div>
		</div>
	</div>

	<div>
		<h2>Reset Your Password</h2>
	</div>
	<div th:if="${error != null}">
		<p class="text-danger">[[${error}]]</p>
	</div>
	<div th:if="${message != null}">
		<p class="text-warning">[[${message}]]</p>
	</div>
	<form th:action="@{/reset_password}" method="post"
		style="max-width: 350px; margin: 0 auto;">
		<input type="hidden" name="token" th:value="${token}" />
		<div class="border border-secondary rounded p-3">
			<div>
				<p>
					<input type="password" name="password" id="password"
						class="form-control" placeholder="Enter your new password"
						required autofocus />
				</p>
				<p>
					<input type="password" class="form-control"
						placeholder="Confirm your new password" required
						oninput="checkPasswordMatch(this);" />
				</p>
				<p class="text-center">
					<input type="submit" value="Change Password"
						class="btn btn-primary" />
				</p>
			</div>
		</div>
	</form>


</body>
</html>