 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<title>Create an account</title>
</head>
<body>
	<div class="alert alert-success">
		<strong>Success </strong>  !
		
		<div class="container text-center">
		<h1>Welcome to CCPD</h1>
		<span
			th:text="'A verification email has been sent to: ' + ${email}"></span>
		<h3><a th:href="@{/register}">Register</a></h3>
		<h3><a th:href="@{/login}">Login</a></h3>
	</div>
		
	</div>
</body>
</html>